.container {
    max-width: 670px;
    width: 90%;
    margin: auto;
}
.text-block {
    font-size: 28px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 400px;
    position: absolute;
    top: 40%;
    left: 35%;
}
