.input-group {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    height: 64px;
    padding: 0px 28px;
    border: none;
    display: flex;
    align-items: center;
}

.input-group.ant-select:not(.ant-select-customize-input) .ant-select-selector, .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
    box-shadow: none;
}

.autocomplete-input {
    width: 80%;
}
.select-input {
    width: 20%;
}
.autocomplete-input.ant-select:not(.ant-select-customize-input) .ant-select-selector, .select-input.ant-select:not(.ant-select-customize-input) .ant-select-selector  {
    border: none;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
}
.search-icon {
    font-size: 16px;
    color: #909090;
}
